.header,
.footer {
    text-align: center;
    margin-bottom: 20px;
}

.order-summary {
    margin-bottom: 20px;
}

.order-summary h2 {
    margin: 0;
    font-size: 1.5em;
    font-weight: 900;
    font-family: 'Nunito', sans-serif;
}

.order-summary p {
    margin: 10px 0;
}

.payment-form label {
    display: block;
    margin-bottom: 5px;
}

.payment-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.payment-form button {
    width: 100%;
    padding: 10px;
    background: #127369;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

.payment-form button:hover {
    background: #127369;
}

.result-message {
    margin-top: 10px;
    font-weight: bold;
}

.otp-label {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.otp-label input {
    margin-right: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.send-otp-button {
    width: 40% !important;
    padding: 10px;
    background: #127369;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin-bottom: 10px;
}

.verify-otp-button {
    margin-top: -7px;
    margin-left: 15px;
}

.book {
    justify-content: center;
    gap: 100px;
}

.verify-otp-button {
    display: none;
    margin-top: 10px;
}

button:disabled {
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
    opacity: 0.6;
    border: 1px solid #999999;
    margin-top: -7px;
    margin-left: 14px;
}